@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,400;1,500&display=swap');



:root {
  --alkali-metals: #dbf8ff;
  --non-metals: #e6f0ff;
  --alkaline-earth-metals: #ffebeb;
  --lanthanides: #e6f5ff;
  --actinides: #ffeadb;
  --transition-metals: #f5ecfd;
  --post-transition-metals: #dcfaeb;
  --metalloids: #fef9e6;
  --noble-gases: #ffebee;
  --unknown: #e9e9ec;
  --alkali-metals-text: #00758c;
  --non-metals-text: #0060f0;
  --alkaline-earth-metals-text: #d60024;
  --lanthanides-text: #029fa6;
  --actinides-text: #e44d1b;
  --transition-metals-text: #6232ec;
  --unknown-text: #3f374f;
  --metalloids-text: #fe7e00;
  --post-transition-metals-text: #00b055;
  --noble-gases-text: #cd1d5e;
}



body {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100%;
}
body::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

body::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

.dark body::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.dark body::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}


section::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

section::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

.dark section::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
}

section::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.dark section::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

nav::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 10px;
}

nav::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

.dark nav::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
}

nav::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.dark nav::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}